bin/
obj/
*.exe
*.dll
*.pdb
*.runtimeconfig.json
*.deps.json
*.suo
.vs/
.idea/
*.user
project.assets.json
project.nuget.cache
project.packagespec.json
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
rider.project.model.nuget.info
rider.project.restore.info 